<!-- Hero section starts -->
<div id="heroSection" class="hero font-poppins min-h-full mx-auto overflow-y-hidden relative bg-gradient-to-tr from-emerald-700 via-primary to-emerald-800 animate-bg bg-no-repeat">
  <!-- overlay -->
  <div class="absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-base-100 opacity-90"></div>
  <div class="hero-content grid grid-cols-1 sm:grid-cols-2 gap-4 pb-0 md:py-8">
    <!-- words col -->
    <div class="col-span-1 sm:col-span-1">
      <h1 class="title text-5xl font-bold">Hey,<span>👋</span> I'm <span class="bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"> Nivin </span></h1>
      <h1 class="sub-title font-bold ">Empowering and Assisting Others with</h1>
      <h1 class="sub-title font-bold bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent ">My Web Development Skills.</h1>
      <p class="paragraph font-light mt-5 mb-7  sm:w-full">With a passion for crafting innovative digital solutions, I strive to bring your ideas to life and contribute to your success. Let's collaborate and create a unique online presence tailored to your needs.</p>
      <button (click)="openDialog()" class="btn btn-primary tracking-wider font-normal text-white">Get in Touch</button>
    </div>
    <!-- img col -->
    <div class="col-span-1 sm:col-span-1 flex relative overflow-y-hidden p-4 sm:overflow-visible sm:p-2">
      <div class="marqueeWrapper hidden md:flex justify-around w-full gap-2 absolute top-0 right-0 left-0 z-10">
        <div class=" flex flex-col h-full justify-center items-stretch gap-5">
        <!-- angular -->
          <div class="h-50 z-10 marqueContainer mb-5 bg-slate-200 rounded-box p-3">
            <img class="marqueItem mx-auto" width="40px"  src="../../assets/Icons/angular.svg" alt="angular logo">
          </div>
          <!-- js -->
          <div class="h-50 z-10 marqueContainer my-10 bg-slate-200 rounded-box p-3">
            <img class="marqueItem rounded-sm mx-auto" width="32px"  src="../../assets/Icons/js.png" alt="javascript logo">
          </div>
            <!-- mongodb -->
          <div class="h-fit z-10 marqueContainer p-3 mt-16 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="35px"  src="../../assets/Icons/mongodb.png" alt="mongodb logo">
          </div>
        </div>
        <div class="h-full flex flex-col justify-center gap-7">
          <!-- node -->
          <div class="h-fit z-10 marqueContainer p-1 -mt-10 mb-16 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="42px"  src="../../assets/Icons/nodejs.png" alt="nodejs logo">
          </div>
          <!-- typescript -->
          <div class="h-fit z-10 marqueContainer p-3 mt-20 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="34px"  src="../../assets/Icons/ts.png" alt="ts logo">
          </div>
          <!-- Ionic -->
          <div class="h-fit marqueContainer p-3 mt-14 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="30px"  src="../../assets/Icons/ionic.png" alt="ionic logo">
          </div>
        </div>
        <div class="flex flex-col justify-center items-stretch gap-5 h-full">
          <!-- bootstrap -->
          <div class="h-fit marqueContainer p-3 mt-10 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="38px"  src="../../assets/Icons/Bootstrap_logo.png" alt="bootstrap logo">
          </div>
          <!-- tailwind -->
          <div class="h-fit marqueContainer p-4 mt-14 mb-11 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="30px"  src="../../assets/Icons/tailwind css.png" alt="tailwind css logo">
          </div>
          <!-- react -->
          <div class="h-fit marqueContainer p-3 my-14 bg-slate-200 rounded-box">
            <img class="marqueItem mx-auto" width="40px"  src="../../assets/Icons/react.png" alt="react logo">
          </div>
        </div>
      </div>
      <div class="w-[85%] overflow-hidden mx-auto">
        <img src="../../assets/my images/hero-image.webp" class="w-full sm:w-[75%] hero-border relative z-30 mx-auto " alt="nivin nichael hero-image"/>
      </div>
    </div>
  </div>
</div>
<!-- Hero section ends -->
<div class="items-end"></div>
