
<section id="projeccts">
  <div class="container font-poppins bg-base-100">
    <div class="text-center">
      <h1 class="text-5xl font-poppins text- font-bold py-5">Projects</h1>
    </div>
    <!-- tabs -->
    <div class="flex flex-col justify-center h-full py-2">
      <!-- <div class="flex justify-center bg-base-100 border-b-8 border-purple-700 sticky z-40 top-16 my-0 -mt-1">
        <div class="tabs tabs-boxed mx-auto py-3 text-center border-2 my-3 border-purple-700 rounded-xl px-3 bg-transparent">
          <button class="tab"  [ngClass]="{ 'tab-active': activeTab === 'Web-Apps' }" (click)="activateTab('Web-Apps')">Web-Apps</button>
          <button class="tab"  [ngClass]="{ 'tab-active': activeTab === 'Business Websites' }" (click)="activateTab('Business Websites')">Business Websites</button>
        </div>
      </div> -->
      <!-- <router-outlet></router-outlet> -->
      <!-- <app-applications *ngIf="activeTab === 'Web-Apps'"></app-applications> -->
      <app-business-websites></app-business-websites>
    </div>
  </div>
</section>
