<section id="testimonials" class="bg-base-200">
  <div class="container mx-auto font-poppins bg-base-200">
    <div class="text-center">
      <h1 class="text-5xl font-poppins text- font-bold py-6">Testimonials</h1>
    </div>
    <!-- Testmonials slider -->
    <div class="testimonial  flex justify-center container relative z-0">
      <div class="w-full flex justify-center">
        <swiper-container class="mySwiper w-full md:w-3/4 sm:px-6 my-9 font-light"  navigation="true"  autoplay="true" loop="true" pauseOnMouseEnter="true"  >
          <swiper-slide data-swiper-autoplay="8000" pauseOnMouseEnter>
            <div class="card bg-base-100 shadow-xl mx-4 w-full md:w-3/4">
              <figure class="p-5 overflow-hidden"><img class="mask mask-hexagon object-cover w-48 object-center overflow-hidden" src="../../assets/Testimonial/sahir.webp" alt="Testimonial-image"/></figure>
              <div class="card-body pt-0 pb-5 justify-center text-center px-10">
                <h2 class="card-title text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-left"></i></h2>
                <p class="text-center text-xs sm:text-sm">
                  Nivin Michael revolutionized our digital marketing through exceptional web development, propelling our campaigns to success. The expertise displayed by this venture significantly contributed to the growth of client engagements. I highly recommend him for businesses seeking a dedicated and skilled web developer.</p>
                  <h2 class="text-end text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-right"></i></h2>
                <div class="flex flex-col justify-center text-center">
                  <div class="rating mb-3 justify-center">
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" checked/>
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                  </div>
                  <h3 class="text-sm font-bold">Sahir Ali</h3>
                  <p class="text-xs text-gray-500 font-light">Entrepreneur</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide data-swiper-autoplay="8000" pauseOnMouseEnter>
            <div class="card bg-base-100 shadow-xl mx-4 w-full md:w-3/4">
              <figure class="p-5"><img class="mask mask-hexagon object-cover w-48 object-center" src="../../assets/Testimonial/hiran.webp" alt="Testimonial-image"/></figure>
              <div class="card-body pt-0 pb-5 justify-center text-center px-10">
                <h2 class="card-title text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-left"></i></h2>
                <p class="text-center text-xs sm:text-sm">
                  Nivin Michael efficiently streamlined my business processes with innovative solutions and top-notch web development. A commendable choice for entrepreneurs looking to elevate and automate digital operations.                </p>
                <h2 class="text-end text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-right"></i></h2>
                <div class="flex flex-col justify-center text-center">
                  <div class="rating mb-3 justify-center">
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" checked/>
                    <input type="radio" disabled name="rating-4" class="mask mask-star-2 bg-orange-400" />
                  </div>
                  <h3 class="text-sm font-bold">Hiranmayan</h3>
                  <p class="text-xs text-gray-500 font-light">MD, Qoncept Ads</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide data-swiper-autoplay="8000" pauseOnMouseEnter>
            <div class="card bg-base-100 shadow-xl mx-4 w-full md:w-3/4">
              <figure class="p-5"><img class="mask mask-hexagon object-cover w-48 object-center" src="../../assets/Testimonial/subilal.webp" alt="Testimonial-image"/></figure>
              <div class="card-body pt-0 pb-5 justify-center text-center px-10">
                <h2 class="card-title text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-left"></i></h2>
                <p class="text-center text-xs sm:text-sm">
                  Nivin Michael has truly revolutionized our digital marketing endeavors with his exceptional web development skills, catapulting our campaigns to resounding success. The unwavering passion and helpful expertise demonstrated by his venture have significantly contributed to the growth of customer engagements. I enthusiastically recommend his services.
                </p>
                <h2 class="text-end text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-right"></i></h2>
                <div class="flex flex-col justify-center text-center">
                  <div class="rating mb-3 justify-center">
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" checked/>
                  </div>
                  <h3 class="text-sm font-bold">Subilal K</h3>
                  <p class="text-xs text-gray-500 font-light">CEO, Daily Skills</p>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card bg-base-100 shadow-xl mx-4 w-full md:w-3/4">
              <figure class="p-5"><img class="mask mask-hexagon object-cover w-48 object-center" src="../../assets/Testimonial/anuprasad.webp" alt="Testimonial-image"/></figure>
              <div class="card-body pt-0 pb-5 justify-center text-center px-10">
                <h2 class="card-title text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-left"></i></h2>
                <p class="text-center text-xs sm:text-sm">
                  Working with Nivin Michael was transformative; the expertise in web development extended to creating APIs and seamlessly automating tasks for my business. A valuable resource for entrepreneurs seeking technical mastery and efficiency.                </p>
                <h2 class="text-end text-3xl bg-gradient-to-tl from-violet-700 via-purple-600 to-blue-300 bg-clip-text text-transparent"><i class="fa-solid fa-quote-right"></i></h2>
                <div class="flex flex-col justify-center text-center">
                  <div class="rating mb-3 justify-center">
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" disabled name="rating-5" class="mask mask-star-2 bg-orange-400" checked/>
                  </div>
                  <h3 class="text-sm font-bold">Anu Prasad</h3>
                  <p class="text-xs text-gray-500 font-light">System Admin, GigSoft </p>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
