.swiper-button-prev{
  color: beige !important;
  background-color: azure !important;
}


swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.swiper-slide-active{
  padding-bottom: 20px;
}
